{% extends 'global/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="single-contact">
      <h1 class="single-contact-name">
        {{ user.username }}
      </h1>

      <p><b>Nome:</b> {{ user.first_name }}</p>
      <p><b>Sobrenome:</b> {{ user.last_name }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
      <div class="contact-links">
          <a class="btn btn-link" href="{% url 'app:userupdate'%}"> 
            Atualizar
          </a>
          
          <button class="btn btn-link btn-delete">Excluir</button>
      </div>
      <div id="popup-overlay" class="popup-overlay"></div>
      <div id="popup" class="popup">
          <div class="popup-content">
              <span class="close">&times;</span>
              <p>Tem certeza que deseja excluir este Usuário?</p>
              <form id='delete-form' action="{% url 'app:userdelete' %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Confirmar</button>
                  <button class="btn btn-secondary" onclick="closePopup()">Cancelar</button>
              </form>
          </div>
      </div>
    </div>
  <div class="responsive-table">
    <table class="contacts-table">
      <caption class="table-caption ">
        Reviews
      </caption>

      <thead>
        <tr class="table-row table-row-header">
          <th class="table-header">ID</th>
          <th class="table-header">Filme</th>
          <th class="table-header">Review</th>
          <th class="table-header">Nota</th>
        </tr>
      </thead>

      <tbody>
        {% for review in page_obj %}
          <tr class="table-row">
            <td class="table-cel">
                <a href="{% url 'app:update' review.id%}">
                {{ review.id }}
                </a>
            </td>
            <td class="table-cel">
                <a href="{% url 'app:filme' review.filme.id %}">
                {{ review.filme }}
                </a>
            </td>
            <td class="table-cel">
              {{ review.review }}
            </td>
            <td class="table-cel">
              {{ review.nota }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    <script>
        function openPopup() {
          document.getElementById("popup-overlay").style.display = "block";
          document.getElementById("popup").style.display = "block";
        }

        function closePopup() {
          document.getElementById("popup-overlay").style.display = "none";
          document.getElementById("popup").style.display = "none";
        }

        document.querySelector(".btn-delete").addEventListener("click", openPopup);
        document.querySelector(".close").addEventListener("click", closePopup);
        window.addEventListener("click", function(event) {
        if (event.target == document.getElementById("popup-overlay")) {
          closePopup();
        }
        });
    </script>
  {% else %}
    {% url 'app:login' as redirect_to %}
    {% if redirect_to %}
      <script type="text/javascript">
        window.location.href = "{{ redirect_to }}";
      </script>
    {% endif %}
  {% endif %}
{% endblock content %}